@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (ViewBag.HttpPost == true)
{
    <div class="row">
        <div class="mb-3">
            <h1>@ViewBag.Title</h1>
            @if (ViewBag.Content != default(string))
            {
                @Html.Raw(ViewBag.Content)
            }
        </div>
    </div>
}
else
{
    <h1>Создание записи</h1>
        
    <div>
        <script src="~/js/ckeditor5/ckeditor.js"></script>
        @using (Html.BeginForm("Create", "Post", FormMethod.Post))
        {
            <div>
                <label for="title">Тема</label>
                <input id = "title" name="title" class="form-control" required>
            </div>
            <div>
                <label for="clive">Тема расширено</label>
                <input id = "clive" name="clive" class="form-control" required>
            </div>
            <div>
                <label for="tags">Тэги</label>
                <input id = "tags" name="tags" class="form-control" required>
            </div>
            <div style="margin: 40px;">
                 <textarea id = "content" name="content" ></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
        }
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event){
            ClassicEditor.create(document.querySelector('#content'));
        });
    </script>
}

