@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (ViewBag.HttpPost == true)
{
        <h1>@ViewBag.HttpPost</h1> 
    <div class="row">
        <div>
            <h1>@ViewBag.Title</h1>
            @if (ViewBag.Content != default(string))
            {
                @Html.Raw(ViewBag.Content)
            }
        </div>
    </div>
}
else
{
        <h1>@ViewBag.HttpPost</h1> 
        <div>
        <script src="~/js/ckeditor5/ckeditor.js"></script>
        @using (Html.BeginForm("Create", "Post", FormMethod.Post))
        {
                <div>
                    <input id = "title" name="title">
                </div>
                <div>
                    <textarea id = "content" name="content"></textarea>
                </div>
                <div>
                    <button type="submit">send</button>
                </div>
        }
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event){
            ClassicEditor.create(document.querySelector('#content'));
        });
    </script>
}

