@model IEnumerable<Taber7.Models.Post>

<h2>Новостная лента</h2>
<image src="https://mir-s3-cdn-cf.behance.net/projects/max_808/8d076281676861.5d073b409d56c.png"></image>
<div>
    @foreach (var post in Model)
    {
        <div>
            <h1>@post.Title</h1>
            @Html.Raw(post.Html)
        </div>
    }
</div>
