@model IEnumerable<Taber7.Models.Post>

<h2>Новостная лента</h2>
<div>
    @foreach (var post in Model)
    {
        <div style="margin: 40px;">
            <h1>@Html.ActionLink(post.Title, "Post", "Post", new { id=post.Id},new {style="text-decoration:none;"})</h1>
            @*@Html.Raw(post.Html)*@
            <h2>@post.CliveHanger...</h2>
        </div>
    }
</div>
