@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Отказано в доступе";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У вас не достаточно прав для выполнения данного действия.</p>
</header>
